## nb_bronce_a_plata
### En este notebook se lleva a cabo la limpieza de los datos del archivo de bronce, incluyendo:

    Nulos
    Valores atípicos (outliers)
    Duplicados
    Tipado

### Para posteriormente cargarlos a la carpeta plata siguiendo el método Medallion

## Imports

In [37]:
import os
from datetime import datetime
import pandas as pd

## Parámetros

In [38]:
source_file_path = os.path.join(os.curdir,"Data_Lake","Bronce", "bronce.parquet")

## Main

### Cargar los datos de bronce y visualizar todas sus columnas

In [39]:
limpiar_bronce_df = pd.read_parquet(source_file_path)

In [40]:
limpiar_bronce_df.head()

,Unnamed: 0,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Payment Terms Name,Next Payment Due At,new_email,New Phone,Nombre modo privado,Calle modo privado,Direccion modo privado,Company_joined,Id,_BronzeTimestamp
0,0,#5594,paid,2025-11-03 12:19:02 +0100,unfulfilled,None,no,EUR,47.40,3.99,...,NaN,NaN,None,7449095852,Name_0001,Street_0001,Addr_0001,None,ID_E8A817258F,2025-11-06 18:03:57.364342
1,1,#5593,paid,2025-11-03 11:19:44 +0100,unfulfilled,None,yes,EUR,62.78,3.99,...,NaN,NaN,email2@gmail.com,7875611576,Name_0002,Street_0002,Addr_0002,None,ID_3A124AD99A,2025-11-06 18:03:57.364342
2,2,#5592,paid,2025-11-03 10:11:08 +0100,unfulfilled,None,yes,EUR,28.44,3.99,...,NaN,NaN,email3@essca.eu,5608248195,Name_0003,Street_0003,Addr_0003,None,ID_61F3992906,2025-11-06 18:03:57.364342
3,3,#5591,paid,2025-11-03 09:20:07 +0100,unfulfilled,None,yes,EUR,45.82,3.99,...,NaN,NaN,email4@gmail.com,+34675280530,Name_0004,Street_0004,Addr_0004,None,ID_C536E514F7,2025-11-06 18:03:57.364342
4,4,#5590,paid,2025-11-03 08:39:30 +0100,unfulfilled,None,yes,EUR,45.00,3.99,...,NaN,NaN,email5@hotmail.com,692801638,Name_0005,Street_0005,Addr_0005,None,ID_5AAB7E280A,2025-11-06 18:03:57.364342

In [41]:
limpiar_bronce_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Data columns (total 70 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   5733 non-null   int64
 1   Name                         5733 non-null   object
 2   Financial Status             4594 non-null   object
 3   Paid at                      4592 non-null   object
 4   Fulfillment Status           4594 non-null   object
 5   Fulfilled at                 4587 non-null   object
 6   Accepts Marketing            4594 non-null   object
 7   Currency                     4594 non-null   object
 8   Subtotal                     4594 non-null   float64
 9   Shipping                     4594 non-null   float64
 10  Taxes                        4594 non-null   float64
 11  Total                        4594 non-null   float64
 12  Discount Code                133 non-null    object
 13  Discount Amount              4594 non-null   float64
 14  Shipping Method              4594 non-null   object
 15  Created at                   5733 non-null   object
 16  Lineitem quantity            5733 non-null   int64
 17  Lineitem name                5733 non-null   object
 18  Lineitem price               5733 non-null   float64
 19  Lineitem compare at price    2956 non-null   float64
 20  Lineitem sku                 161 non-null    object
 21  Lineitem requires shipping   5733 non-null   bool
 22  Lineitem taxable             5733 non-null   bool
 23  Lineitem fulfillment status  5733 non-null   object
 24  Billing City                 4594 non-null   object
 25  Billing Zip                  4593 non-null   object
 26  Billing Province             3182 non-null   object
 27  Billing Country              4594 non-null   object
 28  Shipping City                4594 non-null   object
 29  Shipping Zip                 4594 non-null   object
 30  Shipping Province            3193 non-null   object
 31  Shipping Country             4594 non-null   object
 32  Notes                        1709 non-null   object
 33  Note Attributes              148 non-null    object
 34  Cancelled at                 2 non-null      object
 35  Payment Method               4594 non-null   object
 36  Refunded Amount              4594 non-null   float64
 37  Vendor                       5732 non-null   object
 38  Outstanding Balance          4594 non-null   float64
 39  Employee                     0 non-null      float64
 40  Location                     0 non-null      float64
 41  Device ID                    0 non-null      float64
 42  Tags                         163 non-null    object
 43  Risk Level                   4594 non-null   object
 44  Source                       4594 non-null   object
 45  Lineitem discount            5733 non-null   float64
 46  Tax 1 Name                   3657 non-null   object
 47  Tax 1 Value                  3657 non-null   float64
 48  Tax 2 Name                   14 non-null     object
 49  Tax 2 Value                  14 non-null     float64
 50  Tax 3 Name                   0 non-null      float64
 51  Tax 3 Value                  0 non-null      float64
 52  Tax 4 Name                   0 non-null      float64
 53  Tax 4 Value                  0 non-null      float64
 54  Tax 5 Name                   0 non-null      float64
 55  Tax 5 Value                  0 non-null      float64
 56  Receipt Number               0 non-null      float64
 57  Duties                       0 non-null      float64
 58  Billing Province Name        3210 non-null   object
 59  Shipping Province Name       3225 non-null   object
 60  Payment Terms Name           0 non-null      float64
 61  Next Payment Due At          0 non-null      float64
 62  new_email                    5589 non-null   object
 63  New Phone                    5733 non-null   object
 64  Nombre modo privado          4594 non-null   object
 65  Calle modo privado           4594 non-null   object
 66  Direccion modo privado       4594 non-null   object
 67  Company_joined               53 non-null     object
 68  Id                           4594 non-null   object
 69  _BronzeTimestamp             5733 non-null   datetime64[us]
dtypes: bool(2), datetime64[us](1), float64(25), int64(2), object(40)
memory usage: 3.0+ MB

In [42]:
limpiar_bronce_df.columns

Index(['Unnamed: 0', 'Name', 'Financial Status', 'Paid at',
       'Fulfillment Status', 'Fulfilled at', 'Accepts Marketing', 'Currency',
       'Subtotal', 'Shipping', 'Taxes', 'Total', 'Discount Code',
       'Discount Amount', 'Shipping Method', 'Created at', 'Lineitem quantity',
       'Lineitem name', 'Lineitem price', 'Lineitem compare at price',
       'Lineitem sku', 'Lineitem requires shipping', 'Lineitem taxable',
       'Lineitem fulfillment status', 'Billing City', 'Billing Zip',
       'Billing Province', 'Billing Country', 'Shipping City', 'Shipping Zip',
       'Shipping Province', 'Shipping Country', 'Notes', 'Note Attributes',
       'Cancelled at', 'Payment Method', 'Refunded Amount', 'Vendor',
       'Outstanding Balance', 'Employee', 'Location', 'Device ID', 'Tags',
       'Risk Level', 'Source', 'Lineitem discount', 'Tax 1 Name',
       'Tax 1 Value', 'Tax 2 Name', 'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value',
       'Tax 4 Name', 'Tax 4 Value', 'Tax 5 Name', 'Tax 5 Value',
       'Receipt Number', 'Duties', 'Billing Province Name',
       'Shipping Province Name', 'Payment Terms Name', 'Next Payment Due At',
       'new_email', 'New Phone', 'Nombre modo privado', 'Calle modo privado',
       'Direccion modo privado', 'Company_joined', 'Id', '_BronzeTimestamp'],
      dtype='object')

### Eliminar columna "Unnamed: 0" que no aporta nada y comprobar que se eliminó correctamente

In [43]:
limpiar_bronce_1_df = limpiar_bronce_df.drop('Unnamed: 0', axis=1)

In [44]:
limpiar_bronce_1_df.columns

Index(['Name', 'Financial Status', 'Paid at', 'Fulfillment Status',
       'Fulfilled at', 'Accepts Marketing', 'Currency', 'Subtotal', 'Shipping',
       'Taxes', 'Total', 'Discount Code', 'Discount Amount', 'Shipping Method',
       'Created at', 'Lineitem quantity', 'Lineitem name', 'Lineitem price',
       'Lineitem compare at price', 'Lineitem sku',
       'Lineitem requires shipping', 'Lineitem taxable',
       'Lineitem fulfillment status', 'Billing City', 'Billing Zip',
       'Billing Province', 'Billing Country', 'Shipping City', 'Shipping Zip',
       'Shipping Province', 'Shipping Country', 'Notes', 'Note Attributes',
       'Cancelled at', 'Payment Method', 'Refunded Amount', 'Vendor',
       'Outstanding Balance', 'Employee', 'Location', 'Device ID', 'Tags',
       'Risk Level', 'Source', 'Lineitem discount', 'Tax 1 Name',
       'Tax 1 Value', 'Tax 2 Name', 'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value',
       'Tax 4 Name', 'Tax 4 Value', 'Tax 5 Name', 'Tax 5 Value',
       'Receipt Number', 'Duties', 'Billing Province Name',
       'Shipping Province Name', 'Payment Terms Name', 'Next Payment Due At',
       'new_email', 'New Phone', 'Nombre modo privado', 'Calle modo privado',
       'Direccion modo privado', 'Company_joined', 'Id', '_BronzeTimestamp'],
      dtype='object')

In [45]:
limpiar_bronce_1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         5733 non-null   object
 1   Financial Status             4594 non-null   object
 2   Paid at                      4592 non-null   object
 3   Fulfillment Status           4594 non-null   object
 4   Fulfilled at                 4587 non-null   object
 5   Accepts Marketing            4594 non-null   object
 6   Currency                     4594 non-null   object
 7   Subtotal                     4594 non-null   float64
 8   Shipping                     4594 non-null   float64
 9   Taxes                        4594 non-null   float64
 10  Total                        4594 non-null   float64
 11  Discount Code                133 non-null    object
 12  Discount Amount              4594 non-null   float64
 13  Shipping Method              4594 non-null   object
 14  Created at                   5733 non-null   object
 15  Lineitem quantity            5733 non-null   int64
 16  Lineitem name                5733 non-null   object
 17  Lineitem price               5733 non-null   float64
 18  Lineitem compare at price    2956 non-null   float64
 19  Lineitem sku                 161 non-null    object
 20  Lineitem requires shipping   5733 non-null   bool
 21  Lineitem taxable             5733 non-null   bool
 22  Lineitem fulfillment status  5733 non-null   object
 23  Billing City                 4594 non-null   object
 24  Billing Zip                  4593 non-null   object
 25  Billing Province             3182 non-null   object
 26  Billing Country              4594 non-null   object
 27  Shipping City                4594 non-null   object
 28  Shipping Zip                 4594 non-null   object
 29  Shipping Province            3193 non-null   object
 30  Shipping Country             4594 non-null   object
 31  Notes                        1709 non-null   object
 32  Note Attributes              148 non-null    object
 33  Cancelled at                 2 non-null      object
 34  Payment Method               4594 non-null   object
 35  Refunded Amount              4594 non-null   float64
 36  Vendor                       5732 non-null   object
 37  Outstanding Balance          4594 non-null   float64
 38  Employee                     0 non-null      float64
 39  Location                     0 non-null      float64
 40  Device ID                    0 non-null      float64
 41  Tags                         163 non-null    object
 42  Risk Level                   4594 non-null   object
 43  Source                       4594 non-null   object
 44  Lineitem discount            5733 non-null   float64
 45  Tax 1 Name                   3657 non-null   object
 46  Tax 1 Value                  3657 non-null   float64
 47  Tax 2 Name                   14 non-null     object
 48  Tax 2 Value                  14 non-null     float64
 49  Tax 3 Name                   0 non-null      float64
 50  Tax 3 Value                  0 non-null      float64
 51  Tax 4 Name                   0 non-null      float64
 52  Tax 4 Value                  0 non-null      float64
 53  Tax 5 Name                   0 non-null      float64
 54  Tax 5 Value                  0 non-null      float64
 55  Receipt Number               0 non-null      float64
 56  Duties                       0 non-null      float64
 57  Billing Province Name        3210 non-null   object
 58  Shipping Province Name       3225 non-null   object
 59  Payment Terms Name           0 non-null      float64
 60  Next Payment Due At          0 non-null      float64
 61  new_email                    5589 non-null   object
 62  New Phone                    5733 non-null   object
 63  Nombre modo privado          4594 non-null   object
 64  Calle modo privado           4594 non-null   object
 65  Direccion modo privado       4594 non-null   object
 66  Company_joined               53 non-null     object
 67  Id                           4594 non-null   object
 68  _BronzeTimestamp             5733 non-null   datetime64[us]
dtypes: bool(2), datetime64[us](1), float64(25), int64(1), object(40)
memory usage: 2.9+ MB

### Tratar nulos

In [46]:
limpiar_bronce_1_df[limpiar_bronce_1_df['Financial Status'].isna()== False]['Financial Status']

0       paid
1       paid
2       paid
3       paid
4       paid
        ...
5724    paid
5725    paid
5727    paid
5728    paid
5730    paid
Name: Financial Status, Length: 4594, dtype: object

In [47]:
# Defino como voy a tratar los nulos para el caso de la columna "Financial Status", los cuales quiero llamar "Not paid"
# puesto que no se ha realizado el pago todavía.

fill_values = {
    "Financial Status": "Not paid",
}

In [48]:
# Aplico la limpieza

limpiar_bronce_2_df = limpiar_bronce_1_df.fillna(fill_values)

In [49]:
# Valido que se han corregido correctamente
limpiar_bronce_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         5733 non-null   object
 1   Financial Status             5733 non-null   object
 2   Paid at                      4592 non-null   object
 3   Fulfillment Status           4594 non-null   object
 4   Fulfilled at                 4587 non-null   object
 5   Accepts Marketing            4594 non-null   object
 6   Currency                     4594 non-null   object
 7   Subtotal                     4594 non-null   float64
 8   Shipping                     4594 non-null   float64
 9   Taxes                        4594 non-null   float64
 10  Total                        4594 non-null   float64
 11  Discount Code                133 non-null    object
 12  Discount Amount              4594 non-null   float64
 13  Shipping Method              4594 non-null   object
 14  Created at                   5733 non-null   object
 15  Lineitem quantity            5733 non-null   int64
 16  Lineitem name                5733 non-null   object
 17  Lineitem price               5733 non-null   float64
 18  Lineitem compare at price    2956 non-null   float64
 19  Lineitem sku                 161 non-null    object
 20  Lineitem requires shipping   5733 non-null   bool
 21  Lineitem taxable             5733 non-null   bool
 22  Lineitem fulfillment status  5733 non-null   object
 23  Billing City                 4594 non-null   object
 24  Billing Zip                  4593 non-null   object
 25  Billing Province             3182 non-null   object
 26  Billing Country              4594 non-null   object
 27  Shipping City                4594 non-null   object
 28  Shipping Zip                 4594 non-null   object
 29  Shipping Province            3193 non-null   object
 30  Shipping Country             4594 non-null   object
 31  Notes                        1709 non-null   object
 32  Note Attributes              148 non-null    object
 33  Cancelled at                 2 non-null      object
 34  Payment Method               4594 non-null   object
 35  Refunded Amount              4594 non-null   float64
 36  Vendor                       5732 non-null   object
 37  Outstanding Balance          4594 non-null   float64
 38  Employee                     0 non-null      float64
 39  Location                     0 non-null      float64
 40  Device ID                    0 non-null      float64
 41  Tags                         163 non-null    object
 42  Risk Level                   4594 non-null   object
 43  Source                       4594 non-null   object
 44  Lineitem discount            5733 non-null   float64
 45  Tax 1 Name                   3657 non-null   object
 46  Tax 1 Value                  3657 non-null   float64
 47  Tax 2 Name                   14 non-null     object
 48  Tax 2 Value                  14 non-null     float64
 49  Tax 3 Name                   0 non-null      float64
 50  Tax 3 Value                  0 non-null      float64
 51  Tax 4 Name                   0 non-null      float64
 52  Tax 4 Value                  0 non-null      float64
 53  Tax 5 Name                   0 non-null      float64
 54  Tax 5 Value                  0 non-null      float64
 55  Receipt Number               0 non-null      float64
 56  Duties                       0 non-null      float64
 57  Billing Province Name        3210 non-null   object
 58  Shipping Province Name       3225 non-null   object
 59  Payment Terms Name           0 non-null      float64
 60  Next Payment Due At          0 non-null      float64
 61  new_email                    5589 non-null   object
 62  New Phone                    5733 non-null   object
 63  Nombre modo privado          4594 non-null   object
 64  Calle modo privado           4594 non-null   object
 65  Direccion modo privado       4594 non-null   object
 66  Company_joined               53 non-null     object
 67  Id                           4594 non-null   object
 68  _BronzeTimestamp             5733 non-null   datetime64[us]
dtypes: bool(2), datetime64[us](1), float64(25), int64(1), object(40)
memory usage: 2.9+ MB

In [50]:
limpiar_bronce_2_df[limpiar_bronce_2_df['Paid at'].isna()== False]['Paid at']

0       2025-11-03 12:19:02 +0100
1       2025-11-03 11:19:44 +0100
2       2025-11-03 10:11:08 +0100
3       2025-11-03 09:20:07 +0100
4       2025-11-03 08:39:30 +0100
                  ...
5724    2023-10-04 09:56:39 +0200
5725    2023-10-04 09:52:36 +0200
5727    2023-09-24 21:41:43 +0200
5728    2023-07-25 23:44:42 +0200
5730    2023-07-18 20:45:25 +0200
Name: Paid at, Length: 4592, dtype: object

In [54]:
def reemplazar_fechas_erroneas(fila: dict)->None:
    if fila['Paid at'] == None:
        return fila['Created at']
    else:
        return fila['Paid at']

In [57]:
limpiar_bronce_paid_at_df = limpiar_bronce_2_df

In [58]:
limpiar_bronce_paid_at_df['Paid at'] = limpiar_bronce_paid_at_df.apply(reemplazar_fechas_erroneas, axis=1)

In [59]:
limpiar_bronce_paid_at_df['Paid at'].value_counts(dropna=False)

Paid at
2024-12-11 11:26:14 +0100    9
2025-07-16 22:46:56 +0200    9
2025-07-31 20:15:09 +0200    8
2025-02-26 14:17:33 +0100    8
2024-12-20 09:43:38 +0100    6
                            ..
2023-10-04 09:52:36 +0200    1
2023-10-04 09:52:35 +0200    1
2023-09-24 21:41:43 +0200    1
2025-09-23 23:54:16 +0200    1
2025-11-03 09:20:07 +0100    1
Name: count, Length: 5144, dtype: int64

In [60]:
limpiar_bronce_paid_at_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Name                         5733 non-null   object
 1   Financial Status             5733 non-null   object
 2   Paid at                      5733 non-null   object
 3   Fulfillment Status           4594 non-null   object
 4   Fulfilled at                 4587 non-null   object
 5   Accepts Marketing            4594 non-null   object
 6   Currency                     4594 non-null   object
 7   Subtotal                     4594 non-null   float64
 8   Shipping                     4594 non-null   float64
 9   Taxes                        4594 non-null   float64
 10  Total                        4594 non-null   float64
 11  Discount Code                133 non-null    object
 12  Discount Amount              4594 non-null   float64
 13  Shipping Method              4594 non-null   object
 14  Created at                   5733 non-null   object
 15  Lineitem quantity            5733 non-null   int64
 16  Lineitem name                5733 non-null   object
 17  Lineitem price               5733 non-null   float64
 18  Lineitem compare at price    2956 non-null   float64
 19  Lineitem sku                 161 non-null    object
 20  Lineitem requires shipping   5733 non-null   bool
 21  Lineitem taxable             5733 non-null   bool
 22  Lineitem fulfillment status  5733 non-null   object
 23  Billing City                 4594 non-null   object
 24  Billing Zip                  4593 non-null   object
 25  Billing Province             3182 non-null   object
 26  Billing Country              4594 non-null   object
 27  Shipping City                4594 non-null   object
 28  Shipping Zip                 4594 non-null   object
 29  Shipping Province            3193 non-null   object
 30  Shipping Country             4594 non-null   object
 31  Notes                        1709 non-null   object
 32  Note Attributes              148 non-null    object
 33  Cancelled at                 2 non-null      object
 34  Payment Method               4594 non-null   object
 35  Refunded Amount              4594 non-null   float64
 36  Vendor                       5732 non-null   object
 37  Outstanding Balance          4594 non-null   float64
 38  Employee                     0 non-null      float64
 39  Location                     0 non-null      float64
 40  Device ID                    0 non-null      float64
 41  Tags                         163 non-null    object
 42  Risk Level                   4594 non-null   object
 43  Source                       4594 non-null   object
 44  Lineitem discount            5733 non-null   float64
 45  Tax 1 Name                   3657 non-null   object
 46  Tax 1 Value                  3657 non-null   float64
 47  Tax 2 Name                   14 non-null     object
 48  Tax 2 Value                  14 non-null     float64
 49  Tax 3 Name                   0 non-null      float64
 50  Tax 3 Value                  0 non-null      float64
 51  Tax 4 Name                   0 non-null      float64
 52  Tax 4 Value                  0 non-null      float64
 53  Tax 5 Name                   0 non-null      float64
 54  Tax 5 Value                  0 non-null      float64
 55  Receipt Number               0 non-null      float64
 56  Duties                       0 non-null      float64
 57  Billing Province Name        3210 non-null   object
 58  Shipping Province Name       3225 non-null   object
 59  Payment Terms Name           0 non-null      float64
 60  Next Payment Due At          0 non-null      float64
 61  new_email                    5589 non-null   object
 62  New Phone                    5733 non-null   object
 63  Nombre modo privado          4594 non-null   object
 64  Calle modo privado           4594 non-null   object
 65  Direccion modo privado       4594 non-null   object
 66  Company_joined               53 non-null     object
 67  Id                           4594 non-null   object
 68  _BronzeTimestamp             5733 non-null   datetime64[us]
dtypes: bool(2), datetime64[us](1), float64(25), int64(1), object(40)
memory usage: 2.9+ MB

In [69]:
pd.set_option('display.max_columns', None)

In [70]:
limpiar_bronce_paid_at_df

,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,Taxes,Total,Discount Code,Discount Amount,Shipping Method,Created at,Lineitem quantity,Lineitem name,Lineitem price,Lineitem compare at price,Lineitem sku,Lineitem requires shipping,Lineitem taxable,Lineitem fulfillment status,Billing City,Billing Zip,Billing Province,Billing Country,Shipping City,Shipping Zip,Shipping Province,Shipping Country,Notes,Note Attributes,Cancelled at,Payment Method,Refunded Amount,Vendor,Outstanding Balance,Employee,Location,Device ID,Tags,Risk Level,Source,Lineitem discount,Tax 1 Name,Tax 1 Value,Tax 2 Name,Tax 2 Value,Tax 3 Name,Tax 3 Value,Tax 4 Name,Tax 4 Value,Tax 5 Name,Tax 5 Value,Receipt Number,Duties,Billing Province Name,Shipping Province Name,Payment Terms Name,Next Payment Due At,new_email,New Phone,Nombre modo privado,Calle modo privado,Direccion modo privado,Company_joined,Id,_BronzeTimestamp
0,#5594,paid,2025-11-03 12:19:02 +0100,unfulfilled,None,no,EUR,47.40,3.99,0.00,51.39,None,12.60,Standard Shipping,2025-11-03 12:19:01 +0100,1,Kit Paseo Matcha Green - M / Manos Libres (1.80m),60.00,72.00,None,True,True,pending,Lyon,'69008,None,FR,Villeurbanne,'69100,None,FR,None,None,None,Shopify Payments,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,12.60,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,None,7449095852,Name_0001,Street_0001,Addr_0001,None,ID_E8A817258F,2025-11-06 18:03:57.364342
1,#5593,paid,2025-11-03 11:19:44 +0100,unfulfilled,None,yes,EUR,62.78,3.99,0.00,66.77,None,16.68,Standard Shipping,2025-11-03 11:19:44 +0100,1,Kit Paseo Sunset Orange - M / Clásica (1.80m),79.46,98.64,RDKIT-ORANGE-M,True,True,pending,Antwerpen,'2018,None,BE,Antwerpen,'2018,None,BE,None,None,None,Shopify Payments,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,16.68,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,email2@gmail.com,7875611576,Name_0002,Street_0002,Addr_0002,None,ID_3A124AD99A,2025-11-06 18:03:57.364342
2,#5592,paid,2025-11-03 10:11:08 +0100,unfulfilled,None,yes,EUR,28.44,3.99,0.00,32.43,None,7.56,Standard Shipping,2025-11-03 10:11:07 +0100,1,Arnés Comfort Chocolate Brown - S,36.00,NaN,RDHAR-BROWN-S,True,True,pending,Angers,'75014,None,FR,Paris,'75014,None,FR,None,None,None,Shopify Payments,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,7.56,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,email3@essca.eu,5608248195,Name_0003,Street_0003,Addr_0003,None,ID_61F3992906,2025-11-06 18:03:57.364342
3,#5591,paid,2025-11-03 09:20:07 +0100,unfulfilled,None,yes,EUR,45.82,3.99,7.95,49.81,None,12.18,Estándar,2025-11-03 09:20:06 +0100,1,Kit Paseo Sunset Orange - S / Clásica (1.80m),58.00,72.00,RDKIT-ORANGE-S,True,True,pending,Barcelona,'08003,B,ES,Barcelona,'08003,B,ES,None,None,None,Shopify Payments,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,12.18,VAT 21 %,7.95,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barcelona,Barcelona,NaN,NaN,email4@gmail.com,+34675280530,Name_0004,Street_0004,Addr_0004,None,ID_C536E514F7,2025-11-06 18:03:57.364342
4,#5590,paid,2025-11-03 08:39:30 +0100,unfulfilled,None,yes,EUR,45.00,3.99,7.81,48.99,FELICES25,15.00,Estándar,2025-11-03 08:39:29 +0100,1,Kit Paseo Honey Yellow - M / Manos Libres (1.80m),60.00,72.00,None,True,True,pending,Sant Feliu de Llobregat,'08980,B,ES,Sant Feliu de Llobregat,'08980,B,ES,None,None,None,PayPal Express Checkout,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,0.00,VAT 21 %,7.81,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Barcelona,Barcelona,NaN,NaN,email5@hotmail.com,692801638,Name_0005,Street_0005,Addr_0005,None,ID_5AAB7E280A,2025-11-06 18:03:57.364342
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5728,#1002,paid,2023-07-25 23:44:42 +0200,fulfilled,2023-08-07 18:54:55 +0200,no,EUR,70.00,0.00,0.00,70.00,ANE30,30.00,Estándar,2023-07-25 23:44:42 +0200,2,Arnés Comfort™ - M / Violeta,30.00,NaN,None,True,True,fulfilled,Gorráiz,'31620,None,ES,Gorráiz,'31620,None,ES,None,None,None,Shopify Payments,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,0.00,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Navarra,Navarra,NaN,NaN,email5729@gmail.com,425 79 62 94,Name_4084,Street_4268,Addr_4221,None,ID_735130AC62,2025-11-06 18:03:57.364342
5729,#1002,Not paid,2023-07-25 23:44:42 +0200,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,None,2023-07-25 23:44:42 +0200,2,Correa Lavanda - Small / Lavanda,20.00,NaN,None,True,True,fulfilled,None,None,None,None,None,None,None,None,None,None,None,None,NaN,RealDogs,NaN,NaN,NaN,NaN,None,None,None,0.00,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,email5730@gmail.com,+40666514291,None,None,None,None,None,2025-11-06 18:03:57.364342
5730,#1001,paid,2023-07-18 20:45:25 +0200,fulfilled,2023-10-06 22:56:59 +0200,no,EUR,60.00,0.00,0.00,60.00,None,0.00,Estándar,2023-07-18 20:45:25 +0200,1,Correa Lavanda - Small / Lavanda,20.00,NaN,None,True,True,fulfilled,Villena,'03400,A,ES,Gorráiz,'31620,None,ES,None,None,None,Shopify Payments,0.0,RealDogs,0.0,NaN,NaN,NaN,None,Low,web,0.00,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alicante,Navarra,NaN,NaN,email5731@gmail.com,+8467144008221,Name_4085,Street_4269,Addr_4222,None,ID_F187FEB224,2025-11-06 18:03:57.364342
5731,#1001,Not paid,2023-07-18 20:45:25 +0200,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,None,2023-07-18 20:45:25 +0200,1,Poop Bag Lavanda - Lavanda,10.00,NaN,None,True,True,fulfilled,None,None,None,None,None,None,None,None,None,None,None,None,NaN,RealDogs,NaN,NaN,NaN,NaN,None,None,None,0.00,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,email5732@gmail.com,+34901374214,None,None,None,None,None,2025-11-06 18:03:57.364342
5732,#1001,Not paid,2023-07-18 20:45:25 +0200,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,None,2023-07-18 20:45:25 +0200,1,Arnés Comfort™ - L / Violeta,30.00,NaN,None,True,True,fulfilled,None,None,None,None,None,None,None,None,None,None,None,None,NaN,RealDogs,NaN,NaN,NaN,NaN,None,None,None,0.00,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,NaN,NaN,email5733@gmail.com,+60716099751,None,None,None,None,None,2025-11-06 18:03:57.364342

### Valores atipicos (outliers)

### Duplicados

### Tipado

### Guardar el archivo a la carpeta plata