In [2]:
import os
from datetime import datetime
import pandas as pd

In [3]:
source_file_path = os.path.join(os.curdir, "company_exports_bronze.csv")

In [4]:
limpiar_bronce_df = pd.read_csv(source_file_path)

In [5]:
limpiar_bronce_df.head()

,Unnamed: 0,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Shipping Province Name,Payment Terms Name,Next Payment Due At,new_email,New Phone,Nombre modo privado,Calle modo privado,Direccion modo privado,Company_joined,Id
0,0,#5594,paid,2025-11-03 12:19:02 +0100,unfulfilled,NaN,no,EUR,47.40,3.99,...,NaN,NaN,NaN,NaN,7449095852,Name_0001,Street_0001,Addr_0001,NaN,ID_E8A817258F
1,1,#5593,paid,2025-11-03 11:19:44 +0100,unfulfilled,NaN,yes,EUR,62.78,3.99,...,NaN,NaN,NaN,email2@gmail.com,7875611576,Name_0002,Street_0002,Addr_0002,NaN,ID_3A124AD99A
2,2,#5592,paid,2025-11-03 10:11:08 +0100,unfulfilled,NaN,yes,EUR,28.44,3.99,...,NaN,NaN,NaN,email3@essca.eu,5608248195,Name_0003,Street_0003,Addr_0003,NaN,ID_61F3992906
3,3,#5591,paid,2025-11-03 09:20:07 +0100,unfulfilled,NaN,yes,EUR,45.82,3.99,...,Barcelona,NaN,NaN,email4@gmail.com,+34675280530,Name_0004,Street_0004,Addr_0004,NaN,ID_C536E514F7
4,4,#5590,paid,2025-11-03 08:39:30 +0100,unfulfilled,NaN,yes,EUR,45.00,3.99,...,Barcelona,NaN,NaN,email5@hotmail.com,692801638,Name_0005,Street_0005,Addr_0005,NaN,ID_5AAB7E280A

In [6]:
limpiar_bronce_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5733 entries, 0 to 5732
Data columns (total 69 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   5733 non-null   int64
 1   Name                         5733 non-null   object
 2   Financial Status             4594 non-null   object
 3   Paid at                      4592 non-null   object
 4   Fulfillment Status           4594 non-null   object
 5   Fulfilled at                 4587 non-null   object
 6   Accepts Marketing            4594 non-null   object
 7   Currency                     4594 non-null   object
 8   Subtotal                     4594 non-null   float64
 9   Shipping                     4594 non-null   float64
 10  Taxes                        4594 non-null   float64
 11  Total                        4594 non-null   float64
 12  Discount Code                133 non-null    object
 13  Discount Amount              4594 non-null   float64
 14  Shipping Method              4594 non-null   object
 15  Created at                   5733 non-null   object
 16  Lineitem quantity            5733 non-null   int64
 17  Lineitem name                5733 non-null   object
 18  Lineitem price               5733 non-null   float64
 19  Lineitem compare at price    2956 non-null   float64
 20  Lineitem sku                 161 non-null    object
 21  Lineitem requires shipping   5733 non-null   bool
 22  Lineitem taxable             5733 non-null   bool
 23  Lineitem fulfillment status  5733 non-null   object
 24  Billing City                 4594 non-null   object
 25  Billing Zip                  4593 non-null   object
 26  Billing Province             3182 non-null   object
 27  Billing Country              4594 non-null   object
 28  Shipping City                4594 non-null   object
 29  Shipping Zip                 4594 non-null   object
 30  Shipping Province            3193 non-null   object
 31  Shipping Country             4594 non-null   object
 32  Notes                        1709 non-null   object
 33  Note Attributes              148 non-null    object
 34  Cancelled at                 2 non-null      object
 35  Payment Method               4594 non-null   object
 36  Refunded Amount              4594 non-null   float64
 37  Vendor                       5732 non-null   object
 38  Outstanding Balance          4594 non-null   float64
 39  Employee                     0 non-null      float64
 40  Location                     0 non-null      float64
 41  Device ID                    0 non-null      float64
 42  Tags                         163 non-null    object
 43  Risk Level                   4594 non-null   object
 44  Source                       4594 non-null   object
 45  Lineitem discount            5733 non-null   float64
 46  Tax 1 Name                   3657 non-null   object
 47  Tax 1 Value                  3657 non-null   float64
 48  Tax 2 Name                   14 non-null     object
 49  Tax 2 Value                  14 non-null     float64
 50  Tax 3 Name                   0 non-null      float64
 51  Tax 3 Value                  0 non-null      float64
 52  Tax 4 Name                   0 non-null      float64
 53  Tax 4 Value                  0 non-null      float64
 54  Tax 5 Name                   0 non-null      float64
 55  Tax 5 Value                  0 non-null      float64
 56  Receipt Number               0 non-null      float64
 57  Duties                       0 non-null      float64
 58  Billing Province Name        3210 non-null   object
 59  Shipping Province Name       3225 non-null   object
 60  Payment Terms Name           0 non-null      float64
 61  Next Payment Due At          0 non-null      float64
 62  new_email                    5589 non-null   object
 63  New Phone                    5733 non-null   object
 64  Nombre modo privado          4594 non-null   object
 65  Calle modo privado           4594 non-null   object
 66  Direccion modo privado       4594 non-null   object
 67  Company_joined               53 non-null     object
 68  Id                           4594 non-null   object
dtypes: bool(2), float64(25), int64(2), object(40)
memory usage: 2.9+ MB

In [7]:
limpiar_bronce_df.columns

Index(['Unnamed: 0', 'Name', 'Financial Status', 'Paid at',
       'Fulfillment Status', 'Fulfilled at', 'Accepts Marketing', 'Currency',
       'Subtotal', 'Shipping', 'Taxes', 'Total', 'Discount Code',
       'Discount Amount', 'Shipping Method', 'Created at', 'Lineitem quantity',
       'Lineitem name', 'Lineitem price', 'Lineitem compare at price',
       'Lineitem sku', 'Lineitem requires shipping', 'Lineitem taxable',
       'Lineitem fulfillment status', 'Billing City', 'Billing Zip',
       'Billing Province', 'Billing Country', 'Shipping City', 'Shipping Zip',
       'Shipping Province', 'Shipping Country', 'Notes', 'Note Attributes',
       'Cancelled at', 'Payment Method', 'Refunded Amount', 'Vendor',
       'Outstanding Balance', 'Employee', 'Location', 'Device ID', 'Tags',
       'Risk Level', 'Source', 'Lineitem discount', 'Tax 1 Name',
       'Tax 1 Value', 'Tax 2 Name', 'Tax 2 Value', 'Tax 3 Name', 'Tax 3 Value',
       'Tax 4 Name', 'Tax 4 Value', 'Tax 5 Name', 'Tax 5 Value',
       'Receipt Number', 'Duties', 'Billing Province Name',
       'Shipping Province Name', 'Payment Terms Name', 'Next Payment Due At',
       'new_email', 'New Phone', 'Nombre modo privado', 'Calle modo privado',
       'Direccion modo privado', 'Company_joined', 'Id'],
      dtype='object')