## nb_cargar_bronce
### Este notebook se usa para cargar el csv "company_exports_bronze.csv" en la carpeta de bronce

## Imports

In [ ]:
import os
from datetime import datetime
import pandas as pd

## Parámetros

In [11]:
source_file_path = os.path.join(os.curdir, "company_exports_bronze.csv")

In [12]:
bronce_file_name = "bronce.parquet"
bronce_path = os.path.join(os.curdir, "Data_Lake","Bronce")
bronce_file_path = os.path.join(bronce_path, bronce_file_name)

## Main

### Cargar el csv a un dataframe

In [13]:
bronce_extract_df = pd.read_csv(source_file_path)

In [14]:
# Se comprueba si el fichero se ha cargado correctamente
bronce_extract_df.head()

,Unnamed: 0,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Shipping Province Name,Payment Terms Name,Next Payment Due At,new_email,New Phone,Nombre modo privado,Calle modo privado,Direccion modo privado,Company_joined,Id
0,0,#5594,paid,2025-11-03 12:19:02 +0100,unfulfilled,NaN,no,EUR,47.40,3.99,...,NaN,NaN,NaN,NaN,7449095852,Name_0001,Street_0001,Addr_0001,NaN,ID_E8A817258F
1,1,#5593,paid,2025-11-03 11:19:44 +0100,unfulfilled,NaN,yes,EUR,62.78,3.99,...,NaN,NaN,NaN,email2@gmail.com,7875611576,Name_0002,Street_0002,Addr_0002,NaN,ID_3A124AD99A
2,2,#5592,paid,2025-11-03 10:11:08 +0100,unfulfilled,NaN,yes,EUR,28.44,3.99,...,NaN,NaN,NaN,email3@essca.eu,5608248195,Name_0003,Street_0003,Addr_0003,NaN,ID_61F3992906
3,3,#5591,paid,2025-11-03 09:20:07 +0100,unfulfilled,NaN,yes,EUR,45.82,3.99,...,Barcelona,NaN,NaN,email4@gmail.com,+34675280530,Name_0004,Street_0004,Addr_0004,NaN,ID_C536E514F7
4,4,#5590,paid,2025-11-03 08:39:30 +0100,unfulfilled,NaN,yes,EUR,45.00,3.99,...,Barcelona,NaN,NaN,email5@hotmail.com,692801638,Name_0005,Street_0005,Addr_0005,NaN,ID_5AAB7E280A

### Añadir el timestamp de carga

In [15]:
bronce_extract_df['_BronzeTimestamp'] = datetime.now()

In [16]:
bronce_extract_df.head()

,Unnamed: 0,Name,Financial Status,Paid at,Fulfillment Status,Fulfilled at,Accepts Marketing,Currency,Subtotal,Shipping,...,Payment Terms Name,Next Payment Due At,new_email,New Phone,Nombre modo privado,Calle modo privado,Direccion modo privado,Company_joined,Id,_BronzeTimestamp
0,0,#5594,paid,2025-11-03 12:19:02 +0100,unfulfilled,NaN,no,EUR,47.40,3.99,...,NaN,NaN,NaN,7449095852,Name_0001,Street_0001,Addr_0001,NaN,ID_E8A817258F,2025-11-06 18:03:57.364342
1,1,#5593,paid,2025-11-03 11:19:44 +0100,unfulfilled,NaN,yes,EUR,62.78,3.99,...,NaN,NaN,email2@gmail.com,7875611576,Name_0002,Street_0002,Addr_0002,NaN,ID_3A124AD99A,2025-11-06 18:03:57.364342
2,2,#5592,paid,2025-11-03 10:11:08 +0100,unfulfilled,NaN,yes,EUR,28.44,3.99,...,NaN,NaN,email3@essca.eu,5608248195,Name_0003,Street_0003,Addr_0003,NaN,ID_61F3992906,2025-11-06 18:03:57.364342
3,3,#5591,paid,2025-11-03 09:20:07 +0100,unfulfilled,NaN,yes,EUR,45.82,3.99,...,NaN,NaN,email4@gmail.com,+34675280530,Name_0004,Street_0004,Addr_0004,NaN,ID_C536E514F7,2025-11-06 18:03:57.364342
4,4,#5590,paid,2025-11-03 08:39:30 +0100,unfulfilled,NaN,yes,EUR,45.00,3.99,...,NaN,NaN,email5@hotmail.com,692801638,Name_0005,Street_0005,Addr_0005,NaN,ID_5AAB7E280A,2025-11-06 18:03:57.364342

### Guardar el DataFrame en parquet

In [17]:
# Creamos el directorio Bronze si no existe
os.makedirs(bronce_path, exist_ok=True)

In [18]:
bronce_extract_df.to_parquet(bronce_file_path, index=False)